<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxj.myblog.mapper.BlogMapper">

    <select id="getBlogListByUserId" resultType="com.lxj.myblog.domain.vo.BlogVO"
            parameterType="java.lang.Integer">
        select * from blog_post where user_id = #{userId}
    </select>
    <select id="getAuthor" resultType="com.lxj.myblog.domain.vo.AuthorVO" parameterType="java.lang.Integer">
        select user_id,username,avatar from users where user_id = #{userId};
    </select>
    <!-- Mapper XML -->
    <select id="getRecommendedBlogList" resultType="com.lxj.myblog.domain.vo.BlogVO">
        SELECT * FROM blog_post
        WHERE user_id NOT IN
        <foreach collection="excludedUserIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        ORDER BY RAND()
        LIMIT 5
    </select>
    <select id="getRecommendedUser" resultType="com.lxj.myblog.domain.vo.RecommendedUserVO">
        SELECT user_id,username,avatar FROM users
        WHERE user_id NOT IN
        <foreach collection="excludedUserIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        ORDER BY RAND()
        LIMIT 3
    </select>
</mapper>
