<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxj.myblog.mapper.HobbyMapper">


    <select id="groupPageQuery" resultType="com.lxj.myblog.domain.vo.HobbyGroupVO"
            parameterType="com.lxj.myblog.domain.dto.HobbyGroupPageDTO">
        select hobby_group.group_id, group_name,members, introduce, type, avatar from hobby_group
        <if test="userId != null">
           left join group_member on hobby_group.group_id = group_member.group_id
        </if>
        <where>
            <if test="groupName != null">
                and group_name like concat('%',#{groupName},'%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="userId != null">
                and group_member.user_id = #{userId}
            </if>
                and isReviewed = 'yes'
        </where>
        <if test="userId != null">
            order by group_member.created_at desc
        </if>
        <if test="userId == null">
            order by hobby_group.created_at desc
        </if>

    </select>
</mapper>
